src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<sub-flow name="book-car-request-subflow" doc:id="c5faf4d1-dae6-4da3-84ca-92d89a0e8de0" >
		<logger level="DEBUG" doc:name="LOG DEBUG  start For Booking Request" doc:id="7ebcdb8e-88ca-4f59-a193-c548691c6e74" message="LOG DEBUG  start For Booking Request"/>
		<http:request method="POST" doc:name="POST /Booking flow" doc:id="4545dcea-b2ff-4e12-90e0-b035fbfb60a1" url="#[Mule::p('db.url') ++ &quot;/cars&quot;]" responseTimeout="${db.responseTimeout}" sendCorrelationId="AUTO">
			<reconnect frequency="${db.interval}" count="${db.attempt}"/>
			<http:body><![CDATA[#[vars.bookRequest]]]></http:body>
			<http:headers><![CDATA[#[output application/json
---
{
	"client_id": p('secure::sf.client_id'),
    "client_secret": p('secure::sf.client_secret')
}]]]></http:headers>
		</http:request>
		<logger level="DEBUG" doc:name="LOG DEBUG  ends For Booking Request" doc:id="684e6abe-c876-44b7-b738-7565b9cd619f" message="LOG DEBUG  ends For Booking Request"/>
	</sub-flow>
	<sub-flow name="get-customer" doc:id="9f548d87-8fd8-43e8-9d80-85f94532c84f" >
		<logger level="DEBUG" doc:name="LOG DEBUG  start For getCustomer flow" doc:id="c24c8af4-cc17-4076-88fa-1fe32803fbef" message="LOG DEBUG  start For getCustomer "/>
		<http:request method="GET" doc:name="GET /Customer Flow" doc:id="f140434c-8e02-4acb-ac81-25d8500f7030" url="#[Mule::p('sfdc.url') ++ &quot;/customer&quot;]" responseTimeout="${db.responseTimeout}" sendCorrelationId="AUTO">
			<reconnect frequency="${db.interval}" count="${db.attempt}"/>
			<http:headers ><![CDATA[#[output application/json
---
{
	"client_id": p('secure::sf.client_id'),
    "client_secret": p('secure::sf.client_secret')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/json
---
{
	"email" : vars.inputData.customerDetails.emailAddress,
	"phone" : vars.inputData.customerDetails.phone
}]]]></http:query-params>
		</http:request>
		<logger level="DEBUG" doc:name="LOG DEBUG  end For getCustomer  flow" doc:id="9de44320-8420-4269-b247-61d834a76126" message="LOG DEBUG  start For getCustomer "/>
	</sub-flow>
	<sub-flow name="get-cars" doc:id="11e98a59-70ce-4a78-8139-c43cfe90e2f3" >
		<logger level="DEBUG" doc:name="LOG DEBUG  starts For getCars flow" doc:id="9bb69962-f6ec-415b-91c3-c198b4db0a49" message="LOG DEBUG  starts For getCars flow"/>
		<http:request method="GET" doc:name="GET/ Cars List" doc:id="9cb1c33d-663f-4d7b-84e5-040786db646f" url="#[Mule::p('db.url') ++ &quot;/cars&quot;]" responseTimeout="${db.responseTimeout}" sendCorrelationId="ALWAYS">
			<reconnect frequency="${db.interval}" count="${db.attempt}"/>
			<http:headers><![CDATA[#[output application/json
---
{
	"client_id": p('secure::sf.client_id'),
    "client_secret": p('secure::sf.client_secret')
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"make" : vars.inputData.make,
	"color" : vars.inputData.colour,
	"model" : vars.inputData.model,
	"fuelType" : vars.inputData.fuelType,
	"transmission" : vars.inputData.transmission,
	"condition" : vars.inputData.condition
}]]]></http:query-params>
		</http:request>
		<logger level="DEBUG" doc:name="LOG DEBUG  end For getCars flow" doc:id="eb861427-ab05-4c47-8fba-f9b1beb7f6c7" message="LOG DEBUG  end For getCars flow"/>
	</sub-flow>
	<flow name="update-booking" doc:id="8088faad-540b-48b2-a6a7-dde70d9deeb9" >
		<logger level="DEBUG" doc:name="LOG DEBUG  starts For update Booking " doc:id="10b66243-18b2-4e91-959b-e08a01b737cd" message="LOG DEBUG  starts For update Booking flow"/>
		<http:request method="PUT" doc:name="PUT /Update Booking flow" doc:id="d622e59b-1533-45b9-ad2c-25919e9d79b9" url="#[Mule::p('db.url') ++ &quot;/cars&quot;]" responseTimeout="${db.responseTimeout}">
			<reconnect frequency="${db.interval}" count="${db.attempt}"/>
			<http:headers ><![CDATA[#[output application/json
---
{
	"client_id": p('secure::sf.client_id'),
    "client_secret": p('secure::sf.client_secret')
}]]]></http:headers>
		</http:request>
		<logger level="DEBUG" doc:name="LOG DEBUG  ends For update Booking " doc:id="520431a3-517a-46a6-a05f-d80cc52623fd" message="LOG DEBUG  starts For update Booking flow"/>
	</flow>
	<flow name="book-car-flow" doc:id="41610063-9164-4eb5-af47-7e370974bb77" >
		<logger level="DEBUG" doc:name="LOG  DEBUG for Booking Flow" doc:id="bf9ce2a8-2c65-4a8e-a949-5bf491a6729a" message="Booking Flow started"/>
		<ee:transform doc:name="DW Preparing XML Request for Booking" doc:id="57f77ec2-8475-457a-a49e-fca3b167bef1" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputData" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow-ref-get-cars" doc:id="a1fa3fe3-4800-425c-8d7e-37fa4da40cea" name="get-cars" target="getCarsList"/>
		<validation:is-not-empty-collection doc:name="If CarList Is not empty collection" doc:id="eb742af9-e6fd-453f-a026-97c4e761ef43" message='#["No cars found!!"]' values="#[vars.getCarsList]" config-ref="Validation_Config"/>
		<flow-ref doc:name="Flow-ref-get-customer" doc:id="f782a141-d242-40fe-8390-1909112bde71" name="get-customer" target="getCustomerResponse"/>
		<choice doc:name="condition to check whether customer exist or not" doc:id="db1cb9ce-4065-4ad0-8570-7df8568c5384" >
			<when expression="#[isEmpty(vars.getCustomerResponse)]">
				<ee:transform doc:name="DW Input payload for Salesforce" doc:id="f1dcd496-2b57-4b3d-b50a-f8b2fd011948">
							<ee:message>
							</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/book-my-car-input-sf.dwl" variableName="customerRequest" />
					</ee:variables>
						</ee:transform>
				<http:request method="POST" doc:name="POST/ customer Salesforce request" doc:id="3a5409ab-df80-4e6b-a6c2-dc1c308b7f22" url="#[Mule::p('sfdc.url') ++ &quot;/customer&quot;]" responseTimeout="${sfdc.responseTimeout}">
					<reconnect frequency="${sfdc.interval}" count="${sfdc.attempt}"/>
					<http:body><![CDATA[#[vars.customerRequest]]]></http:body>
					<http:headers><![CDATA[#[output application/json
---
{
	"client_id": p('secure::sf.client_id'),
    "client_secret": p('secure::sf.client_secret')
}]]]></http:headers>
				</http:request>
				<set-variable value="#[payload.customerId  as String]" doc:name=" Set customerId" doc:id="7a9d9af6-eb00-4830-bf0f-2fde9d34b563" variableName="customerId"/>
				<ee:transform doc:name="DW Input payload for DB" doc:id="27cce9a4-d3ce-4ebd-a48a-95c1f0a3d925">
					<ee:message />
					<ee:variables>
						<ee:set-variable resource="dwl/book-my-car-input-db.dwl" variableName="customerRequestDb" />
					</ee:variables>
				</ee:transform>
				<http:request method="POST" doc:name="POST/ customer Database request" doc:id="25a63d3c-772a-43b0-aabb-d6152d7d5a7e" url="#[Mule::p('db.url') ++ &quot;/customer&quot;]" responseTimeout="${db.responseTimeout}" sendCorrelationId="AUTO">
					<reconnect frequency="${db.interval}" count="${db.attempt}"/>
					<http:body><![CDATA[#[vars.customerRequestDb]]]></http:body>
					<http:headers><![CDATA[#[output application/json
---
{
	"client_id": p('secure::sf.client_id'),
    "client_secret": p('secure::sf.client_secret')
}]]]></http:headers>
				</http:request>
				<ee:transform doc:name="DW  customer response  payload from DB" doc:id="99415c14-e766-4e94-ab71-74ae888c51c3">
			<ee:message>
			</ee:message>
			<ee:variables>
						<ee:set-variable resource="dwl/book-my-car-db-booking-response.dwl" variableName="bookRequest" />
			</ee:variables>
		</ee:transform>
			</when>
			<otherwise >
				<logger level="DEBUG" doc:name="LOG DEBUG for existing customer" doc:id="20544c7c-65db-4c23-b35b-07ec1e45350d" message="Customer Existing creating logs"/>
				<ee:transform doc:name="DW Payload resonse for existing customer" doc:id="98194c77-785d-474d-923d-f75dfd2beb50" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/book-my-car-booking-response.dwl" variableName="bookRequest" />
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<flow-ref doc:name="Flow-ref-bookCarRequest-Subflow" doc:id="7c34b1ff-a598-43aa-8706-e43d10c50eca" name="book-car-request-subflow" />
		<!-- [STUDIO:"Try"]<try doc:name="Try" doc:id="c6ecdd2d-83c8-4326-a6c8-429bc2eacad2" >
			<email:send doc:name="Send" doc:id="99184177-0326-4d8f-aebd-bc76e2b7b226" config-ref="Email_SMTP" fromAddress="${smtp.username}" subject='"Booking succesful !!!"' toAddresses="#[p('smtp.toAddress')splitBy(&quot;:&quot;)&#93;" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d3bdca30-0079-4d6e-b3a0-cc5eb0ef9eca" >
					<logger level="INFO" doc:name="Logger" doc:id="34fa44ed-cf06-4d31-a8c2-cddf2b3ac055" message='"Send mail not working"'/>
				</on-error-continue>
			</error-handler>
		</try> [STUDIO] -->
		<logger level="DEBUG" doc:name="LOG DEBUG Booking Response " doc:id="d6509ec6-a491-49fa-81aa-06385e87d2c2" message="Booking Done Debug Logs END"/>
	</flow>
	<flow name="cancel-booking" doc:id="75d9e01f-d575-4724-a497-b663c11518fc" >
		<logger level="DEBUG" doc:name="LOG DEBUG  starts For cancel Booking " doc:id="3079ebd4-fe28-4096-b5e9-73ea463a875e" message="LOG DEBUG  starts For cancel Booking flow"/>
		<set-variable value="#[attributes.uriParams.bookingId]" doc:name="Set BookingID" doc:id="8ff921a4-e0ba-4a87-a297-ed2652ccd219" variableName="bookingId"/>
		<http:request method="DELETE" doc:name="DELETE /Cancel Booking Flow" doc:id="8cff9347-e2ec-4172-8c8b-772f5c9e3bfb" url="#[Mule::p('db.url') ++ &quot;/cars/&quot; ++ vars.bookingId]" responseTimeout="${db.responseTimeout}" sendCorrelationId="AUTO">
			<reconnect frequency="${db.interval}" count="${db.attempt}"/>
			<http:headers ><![CDATA[#[output application/json
---
{
	"client_id": p('secure::sf.client_id'),
    "client_secret": p('secure::sf.client_secret')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/json
---
{
	"bookingId" : attributes.uriParams.'bookingId'
}]]]></http:uri-params>
		</http:request>
		<logger level="DEBUG" doc:name="LOG DEBUG  end For cancel Booking " doc:id="33da3a33-da1b-44d0-bdb1-79b2cb1b58e3" message="LOG DEBUG  end For cancel Booking flow"/>
	</flow>
</mule>
