src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="bookmycar-process-api-main">
        <http:listener config-ref="bookmycar-process-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bookmycar-process-api-config" />
    </flow>
    <flow name="put:\v1\cars:application\json:bookmycar-process-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="3c340023-ab10-4e32-98a6-189f79157e7e" name="update-booking" />
    </flow>
    <flow name="post:\v1\cars:application\json:bookmycar-process-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a4b2e32b-fd71-4a42-88dd-aca2f6f6b688" name="book-car-flow" />
    </flow>
    <flow name="delete:\v1\cars\(bookingId):bookmycar-process-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="5537c907-a03a-4e76-b214-b30c2ad3df2a" name="cancel-booking" />
    </flow>
</mule>
